<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        h1 {
            text-transform: uppercase;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: rgb(204, 204, 202);
        }
        
        .edits{
            background-color: green;
            height: fit-content;
            width: fit-content;
            margin: 5px;
            padding: 10px;
        }
        .deletes{
            background-color: red;
            height: fit-content;
            width: fit-content;
            margin: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Password Details</h1>
    <table>
        <thead>
            <tr>
                <th>Password </th>
                <th>Category</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (recordpass.length > 0) { %>
                <%recordpass.forEach(function(rows) { %>
                    <tr>
                        <td><%= rows.password %></td> 
                        <td><%= rows.category %></td>
                        <td>  </td>
                        <td><a class="deletes" href="/delete/<%= rows._id %>">DELETE</a><a class="edits" href="/edits/<%= rows._id%>">EDIT</a></td> 
                    </tr>
                    <% }); %>
                    <% } %>
                
        </tbody> 
    </table>
</body>
</html>